<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <services>
      <configurator type= "Sitecore.Support.EmailCampaign.Server.DependencyInjection.CustomServiceConfigurator, Sitecore.Support.319786" patch:after="*[@type='Sitecore.EmailCampaign.Server.DependencyInjection.CustomServiceConfigurator, Sitecore.EmailCampaign.Server']"/>
    </services>
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="SupportStartTestController" patch:after="*[@desc='StartTestController']">Sitecore.Support.EmailCampaign.Server.Controllers.Dispatch.StartTestController, Sitecore.Support.319786</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>